body {
background-color: Thistle;
border: 2px solid Gray;
border-radius: 16px;
font-family: sans-serif;
margin-left: auto;
margin-right: auto;
max-width: 1024px;
min-width: 256px;
padding-top: 8px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
}
html {
background: radial-gradient(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
background-size: 8px 8px;
}
nav ul {
list-style-type: none;
background-color: #FCAB68;
border: 4px solid #111111;
border-radius: 10px;
font-family: sans-serif;
font-weight: bold;
padding: 16px;
}
nav ul li {
display: inline;
border-right: 2px solid #111111;
padding-left: 8px;
padding-right: 8px;

}
nav ul li:last-child {
border-right: none;
}
nav ul li a {
text-decoration: none;
color: #111111;
}
nav li.selected {
color: #606060;
}

nav li a:hover {
text-decoration: underline;
}

a:link {
color: blue;
}

a:visited {
color: purple;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: underline;
background-color: black;
color: white;
}

p.top-tip {
border: 4px dashed #00AFEB;
border-radius: 10px;
padding: 16px;
background-color: #C5EBFB;
}

p.top-tip::before {
color: Orange;
content: "Mega Tip! ";
font-weight: bold;
}

table {
font-size: 70%;
border-collapse: collapse;
width: 100%;
}

th, td {
border: 1px solid #000000;
padding: 8px;
text-align: left;
}

th {
background-color: #FCAB68;
}

td {
background-color: #BA99C0;
}

/* technical stuff - set sizing to border box method */

html {
box sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

/* style the various structural elements */

html {
background-color: White;
}

body {
background-color: White;
color: #111111;
font-family: sans-serif;
margin-left: auto;
margin-right: auto;
max-width: 1024px;
min-width: 256px;
padding-left: 24px;
padding-right: 24px;
}

header {
background-color: #F45556;
}

header p {
float: left;
font-size: 16px;
font-weight: bold;
margin-top: 0px;
}

header h1 {
font-size: 16px;
text-align: right;
}

footer p.copyright {
float: left;
margin-top: 0px;
}

footer p.contact {
text-align: right;
}

nav {
background-color: #FCAB68;
}

article {
background-color: #FFD239;
}

section {
background-color: #88BB75;
margin-bottom: 24px;
min-height: 320px;
padding-left: 24px;
padding-right: 24px;
}

aside {
background-color: #1EADDF;
}

footer {
background-color: #BA99C0;
}

img.small {
float: left;
height: 200px;
margin-bottom: 24px;
margin-right: 24px;
background-color: White;
padding: 10px;
}

img.medium {
max-width: 360px;
width: 50%;
}

img.large {
width: 100%;
}

body, section, img {
border: 2px solid Gray;
border-radius: 16px;
}

@media all and (min-width: 900px)
{
article {
float: left;
width: 66%;
}
aside {
float: left;
padding-left: 24px;
width: 30%;
}
footer {
clear: both;
}
}